*.iml
.gradle
.idea
.DS_Store
/app/build
/captures
/app/google-services.json
/notifications/.firebaserc
/notifications/firebase.json
/notifications/functions/node_modules
/notifications/functions/package.json
/notifications/functions/package-lock.json
/notifications/functions/.eslintrc.json
/local.properties
/gradle.properties
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
.externalNativeBuild
.cxx
